@import "../variables";
@import "linkbutton.scss";

.info-block {
    padding:                0 150px;
    font-family:           $raleway;

    &__title {
        text-transform:         capitalize;
        font-size:              50px;
        font-weight:            900;
        margin:                 30px 0;

        &_size65pxBold {
            font-size:              65px;
            margin:                 45px 0;
            text-align:             center;
        }

        &_white {
            color:                  #fff;
            font-size:              65px;
            text-transform:         capitalize;
        }

        &_visit-card {
            margin:                 0 0 5px 0;
            text-transform:         uppercase;
            font-size:              14px;
        }

        &_gallery {
            text-align:             center;
            font-size:              67px;
            font-weight:            700;
        }

        &_subscribe {
            text-align:             left;
            font-size:              30px;
            width:                  100%;
            font-weight:            800;
        }
    }

    &__descript {
        font-size:              15px;
        color:                  rgb(165, 164, 166);
        margin:                 0;
        width:                  370px;
        line-height:            1.7em;
        font-weight:            400;

        &_white {
            color:                  #fff;
            width:                  500px;
            margin:                 25px 0;
        }

        &_subtitle {
            color:                  rgb(38, 38, 38);
            width:                  340px;
            text-align:             center;
            line-height:            25px;
        }

        &_visit-card, &_visit-card > a {
            margin:                 0;
            font-size:              17px;
            color:                  rgb(67, 67, 67);
            text-decoration:        none;
        }

        &_gallery {
            width:                  100%;
            max-width:              570px;
            margin:                 auto;
            text-align:             center;
            color:                  rgb(67, 64, 39);
        }

        &_subscribe {
            width:                  100%;
        }
    }

    &_subscribe-block {
        width:                  40%;
        padding-right:          0;
    }
}

@media (max-width: 992px) {
    .about-block__info-block {
        padding: 0 40px;
        width: 300px;
    }

    .info-block {
        &__descript_white {
            width: 300px;
        }
    
        &_subscribe-block {
            padding: 0 70px;
        }

        &_visit-card {
            padding: 0 50px;
        }
    }

    
}

@media (max-width: 768px) {
    .info-block {
        padding: 0 40px;
    }

    .about-block__info-block {
        padding: 0 20px;
        width: 250px;
    }

    .info-block__descript_white {
        width: 250px;
        font-size: 13px;
    }

    .info-block__title_white {
        font-size: 40px;
    }
}

@media (max-width: 576px) { 
    .info-block {
        &_subscribe-block {
            width: 80%;
        }
    }
 }



























