@import "menu-bar";

.services-block {
    height:                 790px;
    width:                  100vw;
    background-color:       rgb(112, 191, 255);
    display:                flex;
    justify-content:        center;
    align-items:            center;

    &__services-hero {
        display:                flex;
        justify-content:        center;
        align-items:            center;
        max-width:              750px;
        width:                  50%;
        height:                 100%;
        background-image:       url('../img/services-hero.png');
        background-position:    center;
        background-repeat:      no-repeat;
        background-size:        470px 530px;        
    }

    &__hero-title {
        font-family:            $raleway;
        font-weight:            700;
        color:                  #fff; 
        font-size:              64px;
        letter-spacing:         2px;
        position:               relative;
        left:                   -80px;
        top:                    30px;
    }
}