@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;600;700;800;900&display=swap");
.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 165px 0px 165px;
  box-sizing: border-box;
  height: 150px;
}
.menu-bar__menu {
  list-style: none;
  display: flex;
  gap: 40px;
  font-size: 15px;
  text-transform: uppercase;
}
.menu-bar__menulink {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #262626;
  padding: 8px;
  border-top: 3px solid rgba(255, 255, 255, 0);
}
.menu-bar__menu_side-menu {
  flex-direction: column;
  height: 100%;
  padding: 0;
  justify-content: center;
  gap: 20px;
}
.menu-bar_side-menu__menuitem {
  width: 400px;
  height: 100px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 2px 4px 8px -2px rgba(34, 60, 80, 0.7);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
}
.menu-bar_side-menu__menuitem:hover {
  box-shadow: 7px 12px 10px -1px rgba(21, 36, 47, 0.62);
}
.menu-bar_side-menu__menulink {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83%;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 800;
}
.menu-bar__link-icon {
  height: 100%;
  width: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.menu-bar__menulink:only-child:hover {
  border-top: 3px solid #ff6033;
}
.menu-bar_services-block {
  max-width: 750px;
  width: 50%;
  height: 100%;
  padding: 0;
  justify-content: center;
}

.linkbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  background-color: #ff6033;
  margin: 40px 0;
  border: 1px solid #ff6033;
  box-shadow: 0px 2px 4px #9a9a9c;
  text-decoration: none;
  padding: 10px;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #fff;
  font-family: "Raleway", sans-serif;
}
.linkbutton_tap {
  background-color: rgba(255, 255, 255, 0);
  align-items: flex-start;
  width: 24px;
  height: 40px;
  border: 2px solid #2c2d2d;
  box-shadow: none;
  color: #2c2d2d;
  font-size: 12px;
  padding: 2px;
  border-radius: 11px;
  font-weight: 600;
}
.linkbutton_gallery {
  background-color: #5585a2;
  border: none;
  margin: 30px auto 0 auto;
}
.linkbutton:hover {
  transform: scale(1.09, 1.09);
}
.linkbutton_subscribe {
  width: 22%;
  margin: 0;
  background-color: #96b92c;
  border: none;
  display: inline-block;
}

.info-block {
  padding: 0 150px;
  font-family: "Raleway", sans-serif;
}
.info-block__title {
  text-transform: capitalize;
  font-size: 50px;
  font-weight: 900;
  margin: 30px 0;
}
.info-block__title_size65pxBold {
  font-size: 65px;
  margin: 45px 0;
  text-align: center;
}
.info-block__title_white {
  color: #fff;
  font-size: 65px;
  text-transform: capitalize;
}
.info-block__title_visit-card {
  margin: 0 0 5px 0;
  text-transform: uppercase;
  font-size: 14px;
}
.info-block__title_gallery {
  text-align: center;
  font-size: 67px;
  font-weight: 700;
}
.info-block__title_subscribe {
  text-align: left;
  font-size: 30px;
  width: 100%;
  font-weight: 800;
}
.info-block__descript {
  font-size: 15px;
  color: #a5a4a6;
  margin: 0;
  width: 370px;
  line-height: 1.7em;
  font-weight: 400;
}
.info-block__descript_white {
  color: #fff;
  width: 500px;
  margin: 25px 0;
}
.info-block__descript_subtitle {
  color: #262626;
  width: 340px;
  text-align: center;
  line-height: 25px;
}
.info-block__descript_visit-card, .info-block__descript_visit-card > a {
  margin: 0;
  font-size: 17px;
  color: #434343;
  text-decoration: none;
}
.info-block__descript_gallery {
  width: 100%;
  max-width: 570px;
  margin: auto;
  text-align: center;
  color: #434027;
}
.info-block__descript_subscribe {
  width: 100%;
}

@media (max-width: 768px) {
  .info-block {
    padding: 0 40px;
  }
}
@media (max-width: 992px) {
  .about-block__info-block {
    padding: 0 40px;
    width: 300px;
  }

  .info-block__descript_white {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .about-block__info-block {
    padding: 0 20px;
    width: 250px;
  }

  .info-block__descript_white {
    width: 250px;
    font-size: 13px;
  }

  .info-block__title_white {
    font-size: 40px;
  }
}
.linkbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  background-color: #ff6033;
  margin: 40px 0;
  border: 1px solid #ff6033;
  box-shadow: 0px 2px 4px #9a9a9c;
  text-decoration: none;
  padding: 10px;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #fff;
  font-family: "Raleway", sans-serif;
}
.linkbutton_tap {
  background-color: rgba(255, 255, 255, 0);
  align-items: flex-start;
  width: 24px;
  height: 40px;
  border: 2px solid #2c2d2d;
  box-shadow: none;
  color: #2c2d2d;
  font-size: 12px;
  padding: 2px;
  border-radius: 11px;
  font-weight: 600;
}
.linkbutton_gallery {
  background-color: #5585a2;
  border: none;
  margin: 30px auto 0 auto;
}
.linkbutton:hover {
  transform: scale(1.09, 1.09);
}
.linkbutton_subscribe {
  width: 22%;
  margin: 0;
  background-color: #96b92c;
  border: none;
  display: inline-block;
}

.hero-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url(../img/hero-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  padding-bottom: 40px;
}
.hero-block__footer {
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  .hero-block {
    height: 70vh;
    background-size: 1000px auto;
    background-position: 0 0;
  }
}
@media (max-width: 768px) {
  .hero-block {
    height: 64vh;
    background-size: 900px auto;
  }
}
@media (max-width: 576px) {
  .hero-block {
    background-image: none;
    background-color: #E7E3E5;
  }
}

/*# sourceMappingURL=hero-block.css.map */
