@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;600;700;800;900&display=swap");
.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 165px 0px 165px;
  box-sizing: border-box;
  height: 150px;
}
.menu-bar__menu {
  list-style: none;
  display: flex;
  gap: 40px;
  font-size: 15px;
  text-transform: uppercase;
}
.menu-bar__menulink {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #262626;
  padding: 8px;
  border-top: 3px solid rgba(255, 255, 255, 0);
}
.menu-bar__menu_side-menu {
  flex-direction: column;
  height: 100%;
  padding: 0;
  justify-content: center;
  gap: 20px;
}
.menu-bar_side-menu__menuitem {
  width: 400px;
  height: 100px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 2px 4px 8px -2px rgba(34, 60, 80, 0.7);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
}
.menu-bar_side-menu__menuitem:hover {
  box-shadow: 7px 12px 10px -1px rgba(21, 36, 47, 0.62);
}
.menu-bar_side-menu__menulink {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83%;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 800;
}
.menu-bar__link-icon {
  height: 100%;
  width: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.menu-bar__menulink:only-child:hover {
  border-top: 3px solid #ff6033;
}
.menu-bar_services-block {
  max-width: 750px;
  width: 50%;
  height: 100%;
  padding: 0;
  justify-content: center;
}
.menu-bar__toggle {
  display: none;
}

.toggle {
  height: 40px;
  width: 40px;
}

@media (max-width: 768px) {
  .menu-bar__menu_hero {
    visibility: hidden;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    gap: 10px;
    top: 90px;
    left: 30%;
  }
  .menu-bar__menu_hero.active {
    visibility: visible;
    transition-delay: 0s;
  }
  .menu-bar__menuitem_hero {
    height: 25px;
    display: flex;
    padding: 0;
  }
  .menu-bar__menuitem_hero:nth-child(1) {
    transition-delay: 0.15s;
  }
  .menu-bar__menuitem_hero:nth-child(1):before {
    transition-delay: 0.15s;
  }
  .menu-bar__menuitem_hero:nth-child(2) {
    transition-delay: 0.12s;
  }
  .menu-bar__menuitem_hero:nth-child(2):before {
    transition-delay: 0.12s;
  }
  .menu-bar__menuitem_hero:nth-child(3) {
    transition-delay: 0.09s;
  }
  .menu-bar__menuitem_hero:nth-child(3):before {
    transition-delay: 0.09s;
  }
  .menu-bar__menuitem_hero:nth-child(4) {
    transition-delay: 0.06s;
  }
  .menu-bar__menuitem_hero:nth-child(4):before {
    transition-delay: 0.06s;
  }
  .menu-bar__menuitem_hero:nth-child(5) {
    transition-delay: 0.03s;
  }
  .menu-bar__menuitem_hero:nth-child(5):before {
    transition-delay: 0.03s;
  }
  .menu-bar__menuitem_hero:nth-child(6) {
    transition-delay: 0s;
  }
  .menu-bar__menuitem_hero:nth-child(6):before {
    transition-delay: 0s;
  }
  .menu-bar__menuitem_hero.active {
    transition: 0s;
  }
  .menu-bar__menuitem_hero.active:nth-child(1) {
    transition-delay: 0s;
  }
  .menu-bar__menuitem_hero.active:nth-child(1):before {
    transition-delay: 0s;
  }
  .menu-bar__menuitem_hero.active:nth-child(2) {
    transition-delay: 0.03s;
  }
  .menu-bar__menuitem_hero.active:nth-child(2):before {
    transition-delay: 0.03s;
  }
  .menu-bar__menuitem_hero.active:nth-child(3) {
    transition-delay: 0.06s;
  }
  .menu-bar__menuitem_hero.active:nth-child(3):before {
    transition-delay: 0.06s;
  }
  .menu-bar__menuitem_hero.active:nth-child(4) {
    transition-delay: 0.09s;
  }
  .menu-bar__menuitem_hero.active:nth-child(4):before {
    transition-delay: 0.09s;
  }
  .menu-bar__menuitem_hero.active:nth-child(5) {
    transition-delay: 0.12s;
  }
  .menu-bar__menuitem_hero.active:nth-child(5):before {
    transition-delay: 0.12s;
  }
  .menu-bar__menuitem_hero.active:nth-child(6) {
    transition-delay: 0.15s;
  }
  .menu-bar__menuitem_hero.active:nth-child(6):before {
    transition-delay: 0.15s;
  }
  .menu-bar__menulink {
    padding: 4px;
    border: none;
  }
  .menu-bar__menulink:only-child:hover {
    color: #ff6033;
    border: none;
  }
  .menu-bar__toggle {
    display: inline-block;
    position: relative;
    background: transparent;
    color: #777;
    font-size: 38px;
    text-decoration: none;
    top: -38px;
    left: 62%;
  }
  .menu-bar__toggle:hover {
    color: #ff6033;
  }
  .menu-bar__toggle.active {
    transform: rotate(90deg);
  }
}
.services-block {
  height: 790px;
  width: 100vw;
  background-color: #70bfff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-block__services-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  width: 50%;
  height: 100%;
  background-image: url("../img/services-hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 470px 530px;
}
.services-block__hero-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 64px;
  letter-spacing: 2px;
  position: relative;
  left: -80px;
  top: 30px;
}

@media (max-width: 992px) {
  .services-block__services-hero {
    background-size: 410px 460px;
  }
  .services-block__hero-title {
    left: -30px;
  }
}
@media (max-width: 768px) {
  .services-block__services-hero {
    background-image: none;
    width: 40%;
  }
  .services-block__hero-title {
    left: 25px;
    top: 5px;
  }
}
@media (max-width: 576px) {
  .services-block {
    flex-direction: column-reverse;
    padding-bottom: 50px;
  }
}

/*# sourceMappingURL=services-block.css.map */
